table{
    border-collapse: collapse;
    border-spacing: 0;
}

td{
    width: 150px;
    height: 150px;
    background: red;
    border: 1px solid #fff;
}

td.black{
    background: black;
}

caption{
    font-size: 30px;
}
tfoot td{
    background: white;
    border: 1px solid #000;
    text-align: center;
    font-size: 30px;
    height: 50px;
}