.mail{
    width: 0;
    height: 0;
    border-left: 100px solid #f00;
    border-bottom: 100px solid #0f0;
    border-right: 100px solid #00f;
    border-top: 100px solid transparent;
}
.styled-radio{
    position: relative;
}
.styled-radio input{
    display: none;
}
.styled-radio label{
    padding-left: 25px;
    line-height: 23px;
}
.styled-radio label::before{
    position: absolute;
    content: "";
    display: block;
    top: 2px;
    left: 5px;
    width: 16px;
    height: 16px;
    border: 1px solid #00f;
    border-radius: 50%;
}
.styled-radio label::after{
    position: absolute;
    content: "";
    display: none;
    top: 5px;
    left: 8px;
    width: 12px;
    height: 12px;
    background-color: #00f;
    border-radius: 50%;    
}
.styled-radio input:checked+label::after{
    display: block;
}
.checkbox{
    position: relative;
}
.checkbox input{
    display: none;
}
.checkbox label{
    font-size: 50px;
    padding-left: 80px;
    line-height: 70px;
}
.checkbox label::before{
    position: absolute;
    content: "";
    display: block;
    top: 14px;
    left: 5px;
    width: 40px;
    height: 40px;
    border: 2px solid plum;  
}
.checkbox label::after{
    position: absolute;
    content: "";
    display: none;
    top: 22px;
    left: 7px;
    width: 40px;
    height: 40px;    
    background-image: url(../img/elephant.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.checkbox input:checked+label::after{
    display: block;
}
.box{
    margin: 50px;
    width: 200px;
    height: 200px;
    background-color: #0f0;
    transform: scale(-1,-1) rotate(45deg);
}
.boxtext{
  
}