h1{
    font-size: 32px;
    font-weight: 700;
}
h2{
    font-size: 24px;
    font-style: italic;
}
p{
    font-size: 14px;
    font-weight: 400;
}
.clgreen{
    color: #0f0;
}
.clblue{
    color:blue;
}