.products{
    background: url(../img/product-bg.png) repeat-x 0 273px;
    margin-bottom: 150px;
    &_head{
        margin-bottom: 50px;
        h2{
            font-weight: 600;
            font-size: 40px;
            line-height: 60px;
            color: $white;
        }
    }
    &_items{
        display: flex;
        padding-bottom: 50px;
        
    }
    &_item{
        display: flex;
        flex-direction: column;
        margin-right: 11px;
        width: calc( (100% - 22px) / 3);
        padding: 79px 39px 39px;
        background: url(../img/icon.svg) no-repeat 39px 39px, $white;
        
        &:last-child{
            margin-right: 0;
        }
    }
    &_item_image{
        margin-bottom: 25px;
        img{
            margin-left: -39px;
            width: calc(100% + 39px);
        }
    }
    &_item_title{
        margin-bottom: 36px;
        a{
            text-decoration: none;
            color: $black;
            h4{
                font-weight: 600;
                font-size: 20px;
                line-height: 30px;
            }
        }
    }
    &_item_text{
        min-height: 100px;
        p{
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            color: $black;
        }
    }
    &_item_link{
        display: flex;
        a{
            display: block;
            color: $white;
            background: $black;
            padding: 16px 37px;
            text-decoration: none;
            text-transform: uppercase;
            &:hover{
                background-color: $yellow;
                color: $white;
            }
        }
    }
}