table{
    border-spacing: 0;
    border-collapse: collapse;
}

td{
    width: 200px;
    height: 200px;
    background: #f00;
    font-size: 50px;
    color: #fff;
    border: 5px solid #000;
}

.hleft{
    text-align: left;
}

.hcenter{
    text-align: center;
}

.hright{
    text-align: right;
}

.vtop{
    vertical-align: top;
}

.vmiddle{
    vertical-align: middle;
}

.vbottom{
    vertical-align: bottom;
}